@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
    color: white;
}

ul, li{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
    max-width: 1920px;
}

.container{
    display: block;
    margin: 0 auto;
}


.header{
    width: 1920px;
    height: 75px;
    background: #05140B;
}

.menu{
    display: flex;
    width: 1430px;
    height: 100%;
    flex-direction: row;
    align-items: center;
    text-align: justify;
    justify-content: space-between;
    margin: 0 auto;
}

.menu img{
    margin-right: 138px;
}

.nav-menu {
    display: flex;
    width: 956px;
    height: 100%;
    flex-direction: row;
    align-items: center;
    text-align: justify;
    text-align-last: justify;
    justify-content: space-between;
    font-size: 20px;
}

.menu  > img{
    float: left;
    width: 128px;
    height: 75px;
}

.start{
    width: 1920px;
    height: 1005px;
    background: #061D0F;
    overflow: hidden;
    position: relative;
}

.start-content{
    display: block;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.ellipse:nth-child(1){
    position: absolute;
    width: 936px;
    height: 916px;
    border-radius: 50%;
    left: -123px;
    top: -128px;
    background: radial-gradient(32.2% 32.2% at 63.9% 56.6%, #D11010 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(50% 50% at 50% 50%, #D2D2D2 0%, rgba(255, 255, 255, 0) 100%);
    animation-name: ellipse-one;
    animation-duration: 10s;
    animation-direction: 1;
    animation-fill-mode: forwards;
}

.ellipse:nth-child(2){
    position: absolute;
    width: 828px;
    height: 810px;
    border-radius: 50%;
    left: 1112px;
    top: -86px;
    background: radial-gradient(56.58% 56.58% at 60.01% 43.42%, #9C09CF 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(52.27% 52.27% at 8.51% 47.73%, #FFE2A9 0%, rgba(255, 255, 255, 0) 100%);
    animation-name: ellipse-two;
    animation-duration: 10s;
    animation-direction: 1;
    animation-fill-mode: forwards;
}

.ellipse:nth-child(3){
    position: absolute;
    width: 853px;
    height: 835px;
    left: 495px;
    top: 330px;
    border-radius: 50%;
    background: radial-gradient(46.33% 46.33% at 64.68% 53.67%, rgba(43, 174, 216, 0.9) 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(50% 50% at 50% 50%, rgba(63, 148, 11, 0.64) 0%, rgba(255, 255, 255, 0) 100%);
    animation-name: ellipse-three;
    animation-duration: 10s;
    animation-direction: 1;
    animation-fill-mode: forwards;
}

.blur{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: rgba(6, 29, 15, 0.6);
    backdrop-filter: blur(150px);
    overflow: hidden;
}

.start-content > h1{
    margin-top: 63px;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 220px;
    line-height: 150%;
    color: transparent;
    -webkit-text-stroke: 6px white;
    text-shadow: #ffff 10px 0px 300px;
}

.start-content > .person{
    position: absolute;
    left: 1195.74px;
    top: 82px;
}

.start-content > p{
    margin-top: -20px;
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 67px;
    text-align: center;
    color: #EDEDED;
    z-index: 4;
}

.buttons{
    width: 547px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 57px;
}

.quiz{
    text-transform: uppercase;
    width: 268px;
    height: 70px;
    background: #CA0C2D;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border: 0px;
}

.count-price{
    text-transform: uppercase;
    width: 241px;
    height: 70px;
    background: #CA0C2D;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border: 0px;
}

.contact{
    width: 239px;
    height: 70px;
    border: 2px solid #CA0C2D;
    box-sizing: border-box;
    border-radius: 10px;
    background: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.reg{
    text-transform: uppercase;
    width: 208px;
    height: 70px;
    background: #CA0C2D;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border: 0px;
}

.purus{
    position: relative;
    width: 1237px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 119px;
    z-index: 3;
}

.purus-block{
    display: flex;
    align-items: center;
    width: 379px;
    height: 159px;
    background: rgba(116, 116, 116, 0.25);
    box-shadow: -4px -4px 12px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(71, 71, 71, 0.25);
    border-radius: 5px; 
}

.purus-block > img{
    display: block;
    float: left;
    margin-right: 40px;
    box-shadow: 10px 10px 25px 0px rgba(183, 183, 183, 0.2);        
}

.purus-block > div > h1{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.purus-block > div > p{
    display: inline-block;
    width: 171px;
    margin-top: 12px;
    color: white;
    font-weight: 300;
}

.about-quiz{
    display: flex;
    align-items: center;
    width: 1920px;
    height: 540px;
    background: url(../images/background2.png);
}

.about-quiz > div{
    margin-left: 244px;
}

.about-quiz > div > h1{
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
}

.about-quiz > div > p{
    color: white;
    margin-top: 30px;
    margin-bottom: 60px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #CFCFCF; 
}

.achievements{
    position: relative;
    width: 1920px;
    height: 616px;
    background: black;
}

.achievements > h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding-top: 110px;
}

.achievements-block{
    display: flex;
    width: 1440px;
    height: 245px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 70px;
}

.achievements-item{
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 219px;
    height: 100%;
    z-index: 2;
}

.achievements-item::after{
    position: absolute;
    width: 64%;
    height: 12%;
    border-radius: 50%;
    content: "";
    top: 170px;
    z-index: -1;
    box-shadow: 0 50px 24px rgba(255, 255, 255, 0.3);
}

.achievements-item > p{
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    color: #C4C4C4;
    text-align: center;
    text-transform: uppercase;
}

.achievements-item > div{
    display: block;
    position: absolute;
    bottom: 0;
}

.serv-and-skills-bg{
    overflow: hidden;
    width: 1920px;
    height: 1170px;
    position: relative;
    background: url(../images/background4.png);
    background-size: 100%;
}

.serv-and-skills-opac{
    background: linear-gradient(180deg, #3E4144 0%, #383431 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 60%;
}

.serv-and-skills{
    position: relative;
    overflow: hidden;
}

.serv-and-skills > h1{
    color:  white;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    padding-top: 116px;
    text-transform: uppercase;
}

.no-active-blocks > .block:nth-child(1){
    position: absolute;
    width: 458px;
    height: 645px; 
    background: black;
    opacity: 0.4;
    z-index: 4;
    margin-top: 55px;
}

.no-active-blocks > .block:nth-child(2){
    position: absolute;
    width: 457px;
    height: 645px; 
    background: black;
    opacity: 0.4;
    z-index: 4;
    margin-top: 55px;
    right: 0;
}

.owl-carousel{
    overflow: hidden;
    margin-top: 55px;
}

.owl-item{
    /*position: absolute;*/
    width: 920px;
    height: 645px; 
    background: white;
}


.owl-next, .owl-prev{
    position: absolute;
    bottom: 4px;
}   

.owl-theme .owl-nav{
    margin-top: 40px;
}

.owl-carousel .owl-nav button.owl-next:hover {
   background: url("../images/right.png");
   background-size: cover;
}

.owl-carousel .owl-nav button.owl-prev:hover{  
    background: url("../images/right.png");
    background-size: cover;
    transform: rotate(180deg);
}


.owl-carousel .owl-nav button.owl-next, button.owl-prev{
    width: 25px;
    height: 25px;
}

.owl-carousel .owl-nav button.owl-next{
    background-image: url("../images/right.png");
    background-size: cover;
    bottom: 3px; 
}

.owl-carousel .owl-nav button.owl-prev{
    background-image: url("../images/right.png");
    background-size: cover;
    transform: rotate(180deg);
    bottom: 3px;
}

.owl-next{
    right: 30%;
    
}

.owl-prev{
    left: 30%;
}

.owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    margin: 5px 47px;
    background: none;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 50%;
    border: 3px solid white;

}

.owl-theme .owl-dots .owl-dot.active span{
    background: white;
}

.carousel-item{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.carousel-content{
    width: 769px;
    height: 495px;
    display: flex;
    justify-content: space-between;
}

.content-text > h2{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    text-transform: uppercase;
}

.content-text > h3{
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-transform: uppercase;
    color: #216D5D;
    margin-top: 18px;
}

.content-text > .paragraphs > p{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #454545;
}

.content-img > img{
    width: 349px;
    height: 495px;
}

.paragraphs{
    width: 360px;
    margin-top: 74px;
}

button.count-price{
    display: block;
    margin: 0 auto;
    margin-top: 56px;
}

.benefits{
    width: 1920px;
    height: 757px;
    background: black;
    position: relative;
    overflow: hidden;
}

.ellips:nth-child(1){
    position: absolute;
    width: 824.41px;
    height: 806.72px;
    left: -186.99px;
    top: -43.51px;
    border-radius: 50%;
    background: radial-gradient(56.58% 56.58% at 60.01% 43.42%, #9C09CF 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(52.27% 52.27% at 8.51% 47.73%, #FFE2A9 0%, rgba(255, 255, 255, 0) 100%);
    transform: rotate(40.23deg);
}

.ellips:nth-child(2){
    position: absolute;
    width: 951.79px;
    height: 931.74px;
    left: 888.07px;
    top: -311.51px;
    background: radial-gradient(46.33% 46.33% at 64.68% 53.67%, rgba(43, 174, 216, 0.9) 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(50% 50% at 50% 50%, rgba(63, 148, 11, 0.64) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 50%;
    transform: rotate(51.57deg);
}

.benefits-bg-blur{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, rgba(8, 31, 17, 0.86) 0%, rgba(38, 38, 38, 0.86) 100%);
    backdrop-filter: blur(100px);
}

.vector:nth-child(2){
    position: absolute;
    width: 718px;
    height: 746px;
    left: 1173px;
    top: 71px;
}

.vector:nth-child(1){
    position: absolute;
    width: 535.16px;
    height: 527.38px;
}

.benefits-bg-content{
    width: 100%;
    height: 100%;
    position: relative;
}

.benefits-bg-content > img{
    display: block;
    position: absolute;
    left: 1319.22px;
    top: 165.81px;
}

.benefits-web{
    display: block;
    position: absolute;
    margin-top: 124px;
    margin-left: 243px;
    width: 930px;
}

.benefits-web > h1{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 86px;
}

.benefits-blocks{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 930px;
    height: 378px;
    align-content: space-between;
    justify-content: space-between;
}

.benefits-block{
    display: flex;
    width: 435px;
    height: 165px;
    align-items: center;
    justify-content: space-between;
}

.benefits-block-text{
    display: block;
    height: 100%;
    width: 280px;
}

.benefits-block-text > h1{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
}

.benefits-block-text > p{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #D7CADD;
    margin-top: 26px;
}

.e-mail{
    display: flex;
    position: relative;
    width: 1920px;
    height: 573px;
    background: url(../images/e-mail-background.png);
    align-items: center;
}

.e-mail-content{
    margin-left: 244px;
    width: 718px;
}

.e-mail-content > h1{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
}

.e-mail-content > p{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #ECE0F1;
    margin-top: 15px;
    margin-bottom: 40px;
}

.e-mail-input{
    display: flex;
    align-items: center;
    width: 717px;
    height: 80px;
    background: #E3E3E3;
    box-shadow: -4px -4px 13px rgba(112, 112, 112, 0.25), 6px 6px 12px rgba(57, 57, 57, 0.25), inset 4px 4px 12px rgba(64, 64, 64, 0.25);
    border-radius: 3px;
}

.e-mail-input > img{
    margin-left: 20px;
}

.e-mail-input .arrow-img{
    margin-left: 30px;
}

.div-input{
    display: block;
    width: 580px;
    height: 69px;
    margin-left: 25px;
    background: #F9F9F9;
    box-shadow: inset -2px -2px 14px rgba(164, 164, 164, 0.25), inset 1px 1px 12px rgba(72, 72, 72, 0.25);
    border-radius: 2px;
    border: none;
    padding-left: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #7E7E7E;
}

.e-mail-content > button{
    margin-top: 55px;
}

.steps{
    position: relative;
    width: 1920px;
    height: 1418px;
    background: #ECEAEA;
}

.steps > h1{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-transform: uppercase;
    color: black;
    text-align: center;
    padding-top: 115px;
}

.steps-blocks{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    width: 1436px;
    height: 916px;
    margin: 0 auto;
    margin-top: 70px;
}

.steps-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 437px;
    height: 427px;
    background: #EFEEEE;
    box-shadow: inset -6px -6px 40px rgba(207, 207, 207, 0.25), inset 12px 12px 40px rgba(207, 207, 207, 0.25);
}

.steps-block > h1{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    color: black;
    text-align: center;
    padding-top: 21px;
}

.steps-block > h2{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: black;
    text-align: center;
    padding-top: 27px;
    text-transform: uppercase;
}

.steps-block > p{
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    text-align: center;  
    color: #8B8B8B;
    width: 281px;
    margin-top: 20px;
}

.steps-block > div{
    width: 281px;
    margin: 0 auto;
}

.steps > button{
    display: block;
    text-transform: uppercase;
    width: 290px;
    height: 70px;
    background: #CA0C2D;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border: 0px;
    margin: 0 auto;
    margin-top: 100px;
}

.portfolio{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1920px;
    height: 654px;
    background: black;
}

.portfolio-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1434px;
    height: 587.63px;
}

.portfolio-text{
    display: flex;
    flex-direction: column;
    width: 397px;

}

.portfolio-text > h1{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 150%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.portfolio-text > p{
    margin-top: 17px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: #CFCFCF;
}

.portfolio-text > button{
    display: block;
    margin-top: 60px;
    text-transform: uppercase;
    width: 268px;
    height: 70px;
    background: #CA0C2D;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border: 0px;
}

.portfolio-video{
    width: 957px;
    height: 100%;
}


.footer{
    display: flex;
    justify-content: center;
    width: 1920px;
    height: 284px;
    background: #162C1F;
}

.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 1427px;
    height: 249px;
}

.job-info > img{
    width: 196px;
    height: 116px;
}

.worktime{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 324px;
    height: 132px;
}

.time-e{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 53px;
}

.time-e-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.time-e:nth-child(1){
    width: 253px;
}

.time-e-text > h1{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: #F5F5F5;
}

.time-e-text > p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #C0C0C0;
}

.footer-menu > .nav-menu{
    display: flex;
    width: 251px;
    height: 201px;
    justify-content: space-between;
    flex-direction: column;
}

.links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 582px;
    height: 204px;
}

.icons-links{
    display: flex;
    justify-content: space-between;
    width: 517px;
    height: 36px;
}

.links > h1{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 150%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.input-submit{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 582px;
    height: 80px;
    left: 1095px;
    top: 165px;
    background: #E3E3E3;
    box-shadow: -4px -4px 13px rgba(112, 112, 112, 0.25), 6px 6px 12px rgba(57, 57, 57, 0.25), inset 4px 4px 12px rgba(64, 64, 64, 0.25);
    border-radius: 3px;
}

.input-center{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 571px;
    height: 69px;   
}

.input-center > input{
    width: 100%;
    border: none;
    padding-left: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #7E7E7E;
    box-shadow: inset -2px -2px 14px rgba(164, 164, 164, 0.25), inset 1px 1px 12px rgba(72, 72, 72, 0.25);
    border-radius: 2px;
}

.input-center > button{
    text-transform: uppercase;
    width: 189px;
    height: 70px;
    background: #CA0C2D;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border: none;
    
}



@keyframes ellipse-one {
    0%{
        left: -123px;
        top: -128px;
    }
    100%{
        left: 40px;
        top: 398px;
        transform: rotate(-70.01deg);
    }
}

@keyframes ellipse-two {
    0%{
        width: 717px;
        height: 684px;
        left: 1112px;
        top: -86px;
    }
    100%{
        width: 699px;
        height: 684px;
        left: 557px;
        top: -21px;
        transform: rotate(113.67deg);
    }
}

@keyframes ellipse-three {
    0%{
        left: 495px;
        top: 330px;
    }
    100%{
        left: 1183px;
        top: 48px;
        transform: rotate(109.27deg);
    }
}


