@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
    color: white;
}

ul, li{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
    max-width: 1920px;
}

.container{
    display: block;
    margin: 0 auto;
}

.header{
    width: 1920px;
    height: 75px;
    background: #05140B;
}

.menu{
    display: flex;
    width: 1338px;
    flex-direction: row;
    align-items: center;
    text-align: justify;
    text-align-last: justify;
    justify-content: space-between;
    margin: 0 auto;
}

.menu img{
    margin-right: 138px;
}

.nav-menu {
    display: flex;
    width: 1071px;
    height: 100%;
    flex-direction: row;
    align-items: center;
    text-align: justify;
    text-align-last: justify;
    justify-content: space-between;
    font-size: 20px;
}

.menu  > img{
    float: left;
}

.start{
    width: 1920px;
    height: 1005px;
    background: #061D0F;
    overflow: hidden;
    position: relative;
}

.start-content{
    display: block;
    position: absolute;
    z-index: 2;
    width: 100%;
    margin: 0 auto;
}

.ellipse:nth-child(1){
    position: absolute;
    width: 936px;
    height: 916px;
    border-radius: 50%;
    left: -123px;
    top: -128px;
    background: radial-gradient(32.2% 32.2% at 63.9% 56.6%, #D11010 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(50% 50% at 50% 50%, #D2D2D2 0%, rgba(255, 255, 255, 0) 100%);
    animation-name: ellipse-one;
    animation-duration: 10s;
    animation-direction: 1;
    animation-fill-mode: forwards;
}

.ellipse:nth-child(2){
    position: absolute;
    width: 828px;
    height: 810px;
    border-radius: 50%;
    left: 1112px;
    top: -86px;
    background: radial-gradient(56.58% 56.58% at 60.01% 43.42%, #9C09CF 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(52.27% 52.27% at 8.51% 47.73%, #FFE2A9 0%, rgba(255, 255, 255, 0) 100%);
    animation-name: ellipse-two;
    animation-duration: 10s;
    animation-direction: 1;
    animation-fill-mode: forwards;
}

.ellipse:nth-child(3){
    position: absolute;
    width: 853px;
    height: 835px;
    left: 495px;
    top: 330px;
    border-radius: 50%;
    background: radial-gradient(46.33% 46.33% at 64.68% 53.67%, rgba(43, 174, 216, 0.9) 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(50% 50% at 50% 50%, rgba(63, 148, 11, 0.64) 0%, rgba(255, 255, 255, 0) 100%);
    animation-name: ellipse-three;
    animation-duration: 10s;
    animation-direction: 1;
    animation-fill-mode: forwards;
}

.blur{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: rgba(6, 29, 15, 0.6);
    backdrop-filter: blur(150px);
}

.start-content > h1{
    margin-top: 63px;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 220px;
    line-height: 150%;
    color: transparent;
    -webkit-text-stroke: 6px white;
    text-shadow: #ffff 10px 0px 300px;
}

.start-content > .person{
    position: absolute;
    left: 1195.74px;
    top: 82px;
}

.start-content > p{
    margin-top: -20px;
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 67px;
    text-align: center;
    color: #EDEDED;
    z-index: 4;
}

.buttons{
    width: 547px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 57px;
}

.quiz{
    text-transform: uppercase;
    width: 268px;
    height: 70px;
    background: #CA0C2D;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border: 0px;
}

.contact{
    width: 239px;
    height: 70px;
    border: 2px solid #CA0C2D;
    box-sizing: border-box;
    border-radius: 10px;
    background: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.purus{
    position: relative;
    width: 1237px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 119px;
    z-index: 3;
}

.purus-block{
    display: flex;
    align-items: center;
    width: 379px;
    height: 159px;
    background: rgba(116, 116, 116, 0.25);
    box-shadow: -4px -4px 12px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(71, 71, 71, 0.25);
    border-radius: 5px; 
}

.purus-block > img{
    display: block;
    float: left;
    width: 128px;
    height: 125px;
    margin-left: 25px;
    margin-right: 30px; 
}

.purus-block > div > h1{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.purus-block > div > p{
    display: inline-block;
    width: 171px;
    margin-top: 12px;
    color: white;
    font-weight: 300;
}

.about-quiz{
    width: 1920px;
    height: 540px;
    background: url(../images/background2.png);
}

.about-quiz{
    display: flex;
    align-items: center;
}

.about-quiz > div{
    margin-left: 244px;
}

.about-quiz > div > h1{
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
}

.about-quiz > div > p{
    color: white;
    margin-top: 30px;
    margin-bottom: 60px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #CFCFCF; 
}

.achievements{
    width: 1921px;
    height: 616px;
    background: black;
}

@keyframes ellipse-one {
    0%{
        left: -123px;
        top: -128px;
    }
    100%{
        left: 40px;
        top: 398px;
        transform: rotate(-70.01deg);
    }
}

@keyframes ellipse-two {
    0%{
        width: 717px;
        height: 684px;
        left: 1112px;
        top: -86px;
    }
    100%{
        width: 699px;
        height: 684px;
        left: 557px;
        top: -21px;
        transform: rotate(113.67deg);
    }
}

@keyframes ellipse-three {
    0%{
        left: 495px;
        top: 330px;
    }
    100%{
        left: 1183px;
        top: 48px;
        transform: rotate(109.27deg);
    }
}